#message {
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    padding: 10px;
    font-size: 30px;
    margin-top: 40px;
}